/NetbeansProjects/ch8/com.jdojo.version.string_mods/nbproject/private/
/NetbeansProjects/ch8/com.jdojo.test_mods/nbproject/private/
/NetbeansProjects/ch8/com.jdojo.resource.test_mods/build/
/NetbeansProjects/ch8/com.jdojo.resource_mods/build/
/NetbeansProjects/ch8/com.jdojo.resource.prejdk9_mods/build/
/NetbeansProjects/ch8/com.jdojo.resource.jrt_mods/nbproject/private/
/NetbeansProjects/ch8/com.jdojo.resource.jrt_mods/build/