/NetbeansProjects/ch8/com.jdojo.version.string_mods/nbproject/private/
/NetbeansProjects/ch8/com.jdojo.test_mods/nbproject/private/
/NetbeansProjects/ch8/com.jdojo.resource.test_mods/build/
/NetbeansProjects/ch8/com.jdojo.resource_mods/build/
/NetbeansProjects/ch8/com.jdojo.resource.prejdk9_mods/build/
/NetbeansProjects/ch8/com.jdojo.resource.jrt_mods/nbproject/private/
/NetbeansProjects/ch8/com.jdojo.resource.jrt_mods/build/
/NetbeansProjects/ch9/com.jdojo.test_mods/nbproject/private/
/NetbeansProjects/ch9/com.jdojo.prime_mods/nbproject/private/
/NetbeansProjects/ch9/com.jdojo.intro/build/
/NetbeansProjects/ch9/com.jdojo.intro/dist/
/NetbeansProjects/ch9/com.jdojo.intro/nbproject/private/
/NetbeansProjects/ch9/com.jdojo.intruder/build/
/NetbeansProjects/ch9/com.jdojo.intruder/dist/
/NetbeansProjects/ch9/com.jdojo.intruder/nbproject/private/
/NetbeansProjects/ch9/com.jdojo.address/build/
/NetbeansProjects/ch9/com.jdojo.address/dist/
/NetbeansProjects/ch9/com.jdojo.address/nbproject/private/
/NetbeansProjects/ch9/com.jdojo.intro_mod/nbproject/private/
/NetbeansProjects/ch9/com.jdojo.intruder_mod/nbproject/private/
/NetbeansProjects/ch9/com.jdojo.intro_mod/build/
/NetbeansProjects/ch9/com.jdojo.intro_mod/dist/
/NetbeansProjects/ch9/com.jdojo.intruder_mod/build/
/NetbeansProjects/ch9/com.jdojo.intruder_mod/dist/
/NetbeansProjects/ch9/com.jdojo.address_mod/nbproject/private/
/NetbeansProjects/ch9/com.jdojo.address_mod/build/
/NetbeansProjects/ch9/com.jdojo.address_mod/dist/